{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">

    <title>MoviesToWatch</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark border-bottom border-info">
    <a class="navbar-brand ml-2 p-2" href ="{% url 'index' %}">
        <strong><h1>MoviesToWatch</h1></strong>
    </a>
    <form class="form-inline" action="{% url 'search' %}" method="get">
        <input name="q" class="form-control mr-sm-1 border border-white" type="text"
               placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Найти</button>
    </form>
    {% if user.is_authenticated %}
        <div class="media">
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" width="64" height="64" class="mr-3 rounded-circle border border-light" alt="">
            {% else %}
            <img src="#" width="64" height="64" class="mr-3 rounded-circle border border-light" alt="">
            {% endif %}
            <div class="media-body">
                <h5 class="ml-3 text-light">{{ user.username }}</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' %}">Настройки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'  %}">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="media">
            <ul class="nav mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'  %}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>

<div class = "container shadow p-4 mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{%static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{%static 'js/popper.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
</body>
</html>