{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="films">
        <div><h1 class="mb-2"> Новинки </h1></div>
        <div class="row">
            {% for film in new_films %}
                {% include 'inc/film-card.html' %}
            {% endfor %}
        </div>
        <div><h1 class="mt-2 mb-2"> Самые обсуждаемые </h1></div>
        <div class="row">
            {% for film in most_commented %}
                {% include 'inc/film-card.html' %}
            {% endfor %}
        </div>
        <div><h1 class="mt-2 mb-2"> Самые рейтинговые </h1></div>
        <div class="row">
            {% for film in most_commented %}
                {% include 'inc/film-card.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}