{% load static %}


<div class="film-big-card border p-4 m-4">
    <div class="row">
        <div class="col-4">
            {% if film.image %}
                <img alt="Responsive image" class="film__img img-fluid" src="{{ film.image.url }}">
            {% else %}

                <img alt="Responsive image" class="film__img img-fluid" src="#">
            {% endif %}
        </div>
        <div class="col-8">
            <div class="row">
                <div class=" film__title "><h1>
                    <a class="text-decoration-none text-dark" href="{% url 'film' film.id %}">{{ film.title }}</a>
                </h1></div>
            </div>
            <div class="row">
                <div class="col-3 film__param text-right"> Год:</div>
                <div class="col">
                    <a href="{% url 'search' %}?year_from={{ film.year }}&year_to={{ film.year }}">{{ film.year }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-3 film__param text-right"> Страны:</div>
                <div class="col">
                    {% for c in film.countries.all %}
                        <a href="{% url 'search' %}?country={{ c.id }}">{{ c }}</a>
                        {% if forloop.revcounter0 != 0 %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-3 film__param text-right"> Жанры:</div>
                <div class="col">
                    {% for g in film.genres.all %}
                        <a href="{% url 'search' %}?genre={{ g.id }}">{{ g }}</a>
                        {% if forloop.revcounter0 != 0 %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-3 film__param text-right"> Актеры:</div>
                <div class="col">
                    {% for a in film.actors.all %}
                        <a href="{% url 'search' %}?actor={{ a.id }}">{{ a }}</a>
                        {% if forloop.revcounter0 != 0 %},{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
